main {
  min-height: calc(100vh - 151.5px);
  background: whitesmoke;
}

input, select {
    vertical-align:middle;
}

header {
  background: white;
  height: 86px;
  width: 100%;
}
h1 {
  font-weight: normal;
  font-size: 36px;
  padding: 24px 24px 24px 36px;
}
table {
  width: 100%;
  padding-bottom: 30px;
}

form {
  background: whitesmoke;
  width: 100%;
}

th {
  font-weight: normal;
  padding: 36px;
  font-size: 24px;
  padding-top: 100px;
}

tr, td {
  text-align: center;
  padding-bottom: 20px;
  height: 24px;
}

input {
  width: 330px;
  padding: 12px;
  background: whitesmoke;
  border-color: dimgray, dimgray;
  height: 24px;
  border-radius: 3px;
}

button {
  width: 360px;
  padding: 12px;
  background: royalblue;
  border: none;
  color: white;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: blue;
}

p {
  font-size: 16px;
  color: gray;
  padding: 12px;
}

footer {
  width: 100%;
  padding-top: 22.5px;
  text-align: center;
  height: 45px;
}

.error_tr {
  padding: 0;
  margin: 0;
  height: 2em;
}
.error_td {
  color: red;
  padding: 0;
  margin: 0;
}

.button {
  width: 360px;
  padding: 24px;
  background: royalblue;
  border: none;
  color: white;
  border-radius: 3px;
  text-align: center;
  margin: 120px auto;
}

.startwork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .button {
    width: 6em;
  }

  input, button {
    width: auto;
  }
}